.Description {
  position: relative;
  width: 100%;
  background-color: var(--white);
  border-radius: 20px;
  padding: 15px;
  margin: 10px 0;

  transform: translateY(-100px);
  transition: transform ease-in-out;
  animation: description 2s ease forwards;
}
@keyframes description{
  0%{
    transform: translateY(-200px);
  }100%{
    transform: translateY(0px);
  }
}
.Description__content{
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
.Description__arrow{
  position: absolute;
  top: 10px;
  right: 8%;
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-green);
  cursor: pointer;
}
.Description__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark-green);
  margin: 10px 0;
}

.Description__img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Description__img .Description__img-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Description__img-temp h5 {
  font-size: 3.5rem;
  color: var(--dark-green);
}

.Description__img-temp img {
  width: 50px;
  height: 50px;
}

.Description-icon {
  font-size: 2rem;
  color: var(--dark-green);
  margin-right: 5px;
}

.Description__img .Description__img-wind {
  font-size: 1.5rem;
  color: var(--dark-green);
}

.Description__description {
  width: 90%;
  max-width: 250px;
  font-size: 1.5rem;
  color: var(--dark-green);
  margin: 20px auto;
}

.Description__grid {
  width: 90%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 20px auto;
}

.Description__grid .Description__grid-one,
.Description__grid-two {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: var(--dark-green);
}

.Description__grid-one {
  border-bottom: 1px solid #999;
}

.Description__grid-one-humidity,
.Description__grid-one-uvIndex,
.Description__grid-two-sunrise,
.Description__grid-two-sunset {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* dark mode */
.DarkMode .Description{
  background: linear-gradient(rgba(0 0 0 / 0.8), rgba(0 0 0 / 0.7)), url('../images/dark.jpg');
  background-position: center;
}
.DarkMode .Description__img-temp h5,
.DarkMode .Description__img-wind,
.DarkMode .Description-icon,
.DarkMode .Description__arrow{
  color: white;
}

.DarkMode .Description__title,
.DarkMode .Description__description p,
.DarkMode .Description__grid-one,
.DarkMode .Description__grid-two{
  color: var(--gray);
}

@media(min-width:1000px){
  .DarkMode .Description{
    background: linear-gradient(rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.7)), url('../images/dark-medium.jpg');
    background-repeat: no-repeat;
    /* box-shadow: 0 0 10px #3f3f3f; */
    border: 1px solid #3f3f3f;
  }
}