.FamousCity{
  width: 90%;
  grid-area: famous;
  overflow: hidden;
  margin: 20px auto 0 auto;
}
.FamousCity__title{
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--dark-green);
  margin-left: 20px;
  margin-bottom: 10px;
}
.FamousCity__content{
  display: flex;
  overflow-x: scroll;
  margin-bottom: 10px;
}
.FamousCity__content::-webkit-scrollbar{
  height: 10px;
  background-color: var(--light-green);
  border-radius: 10px;
}
.FamousCity__content::-webkit-scrollbar-thumb{
  background-color: var(--dark-green);
  border-radius: 10px;
}
.FamousCity__content .FamousCity__content-city{
  min-width: 250px;
  max-width: 250px;
  height: 180px;
  background-color: var(--gray);
  border-radius: 30px;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* city's Backgrounds*/

.FamousCity__content .newyork{
  background: linear-gradient(rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.7)), url('../images/newyork.jpg');
}
.FamousCity__content .hongkong{
  background: linear-gradient(rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.7)), url('../images/hongkong.jpg');
}
.FamousCity__content .paris{
  background: linear-gradient(rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.7)), url('../images/paris.jpg');
}
.FamousCity__content .dubai{
  background: linear-gradient(rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.7)), url('../images/dubai.jpg');
}
.FamousCity__content .singapore{
  background: linear-gradient(rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.7)), url('../images/singapore.jpg');
}


/* dark mode */
.DarkMode .FamousCity__title{
  color: var(--light-green);
}
.DarkMode .FamousCity__content::-webkit-scrollbar{
  width: 10px;
  background-color: var(--black);
  border-radius: 10px;
}
.DarkMode .FamousCity__content::-webkit-scrollbar-thumb{
  background-color: var(--light-green);
  border-radius: 10px;
}
@media(min-width:650px){
  .FamousCity{
    width: 95%;
  }
}
@media(min-width:1000px){
  .FamousCity{
    width: 100%;
  }
}