.FiveDays{
  width: 90%;
  max-width: 450px;
  grid-area: days;
  overflow-y: scroll;
  margin: 20px auto;
}
.FiveDays::-webkit-scrollbar{
  width: 10px;
  background-color: var(--light-green);
  border-radius: 10px;
}
.FiveDays::-webkit-scrollbar-thumb{
  background-color: var(--white);
  border-radius: 10px;
}
.FiveDays__title{
  width: 60%;
  font-size: 1.8rem;
  color: var(--dark-green);
  margin: 0 auto 10px auto ;
}
.FiveDays__content{
  width: 98%;
  overflow: hidden;

}

/* dark mode */
.DarkMode .FiveDays__title{
  color: var(--light-green);
}
.DarkMode .FiveDays::-webkit-scrollbar{
  width: 10px;
  background-color: var(--black);
  border-radius: 10px;
}
.DarkMode .FiveDays::-webkit-scrollbar-thumb{
  background-color: var(--light-green);
  border-radius: 10px;
}
@media(min-width:650px){
  .FiveDays{
    max-height: 400px;
    margin: 0 auto;
  }
}
@media(min-width:1000px) {
  .FiveDays {
    width: 100%;
    max-width: 300px;
    max-height: 755px;
    grid-area: days;
    overflow-y: scroll;
    margin: 30px 0 auto 0;
  }
}