.Home{
  background-color: var(--light-green);
  padding-top: 60px;
  overflow: hidden;
}

/* Dark mode */
.DarkMode .Home{
  background: linear-gradient(rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.5)), url('../images/dark.jpg');
  background-repeat: no-repeat;
}

@media(min-width:650px){
  .Home{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      'logo list'
      'search air'
      'main air'
      'map days'
      'famous famous'
      'footer footer'
    ;
    padding: 0;
    margin: 0 auto;
  }

  .DarkMode .Home{
    background: none;
  }
}
@media(min-width:1000px){
  .Home{
    max-width: 1000px;
    border-radius: 50px;
    box-shadow: 0 0 50px #999;
    margin: 15px auto 15px auto;
  }
  .DarkMode .Home{
    box-shadow: 0 0 40px #3f3f3f;
  }
}
