.Home{
  background-color: var(--light-green);
  padding-top: 60px;
  overflow: hidden;
}

/* Dark mode */
.DarkMode .Home{
  background-color: var(--black);
}
.Home .Home__long{
  display: none;
}
@media(min-width:650px){
  .Home{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 320px 80px 450px 270px 80px;
    grid-template-areas: 
      'logo logo'
      'main air'
      'list air'
      'map days'
      'famous famous'
      'footer footer'
    ;
    padding: 0;
    margin: 0 auto;
  }
  .Home__smart{
    display: none;
  }
  .Home .Home__long{
    width: 100%;
    height: 80px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
@media(min-width:1000px){
  .Home{
    height: auto;
    max-width: 1200px;
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 45% 25% 30%;
    grid-template-rows: 80px 320px 50px 450px 270px 80px;
    grid-template-areas: 
      'logo logo logo'
      'main air days'
      'list air days'
      'map map days'
      'famous famous famous'
      'footer footer footer'
    ;
    background-color: var(--background);
  }
  
  .DarkMode .Home{
    box-shadow: 0 0 0;
  }
}
