.Home{
  background-color: var(--light-green);
  padding-top: 60px;
  overflow: hidden;
}

/* Dark mode */
.DarkMode .Home{
  background-color: var(--black);
}

@media(min-width:650px){
  .Home{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      'logo list'
      'search air'
      'main air'
      'map days'
      'famous famous'
      'footer footer'
    ;
    padding: 0;
    margin: 0 auto;
  }
}
@media(min-width:1000px){
  .Home{
    max-width: 1200px;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 5% 25% 5% 35% 20% 10%;
    grid-template-areas: 
      'logo logo logo'
      'main air days'
      'list air days'
      'map map days'
      'famous famous famous'
      'footer footer footer'
    ;
    background-color: var(--background);
    /* padding: 0px 20px 0 20px; */
  }
  /* 
  .DarkMode .Home{
    box-shadow: 0 0 0;
  } */
}
