.ListDays{
  width: 90%;
  max-width: 420px;
  grid-area: list;
  margin: 20px auto;
}
.ListDays .ListDays__list{
  width: 100%;
  display: flex;
  list-style: none;
  overflow-x: scroll;
}
.ListDays__list::-webkit-scrollbar{
  height: 0px;
  background-color: #d3d3d3;
  border-radius: 10px;
}
.ListDays__list::-webkit-scrollbar-thumb{
  background-color: #c5c5c5;
  border-radius: 10px;
}
.ListDays__list li{
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}
.active{
  color: var(--light-green);
  background-color: var(--dark-green);
  border-radius: 20px;
}

/* dark mode */
.DarkMode .ListDays__list{
  color: var(--gray);
}
.DarkMode .active{
  background-color: var(--gray);
  color: var(--black);
}