.ListDays{
  width: 90%;
  max-width: 420px;
  grid-area: list;
  margin: 20px auto;
}
.ListDays .ListDays__list{
  width: 100%;
  display: flex;
  list-style: none;
  overflow-x: scroll;
}
.ListDays__list::-webkit-scrollbar{
  height: 0px;
  background-color: #d3d3d3;
  border-radius: 10px;
}
.ListDays__list::-webkit-scrollbar-thumb{
  background-color: #c5c5c5;
  border-radius: 10px;
}
.ListDays__list li{
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}
.ListDays__list li a{
  text-decoration: none;
  color: var(--dark-green);
}
.active{
  font-weight: bold;
  color: var(--dark-green);
  border-bottom: 3px solid var(--dark-green);
}

/* dark mode */
.DarkMode .ListDays__list{
  color: var(--light-green);
}
.DarkMode .active{
  font-weight: bold;
  color: var(--light-green);
  border-bottom: 3px solid var(--light-green);
}

@media(min-width:1000px){
  .ListDays{
    width: 100%;
    max-width: 500px;
    margin: 30px auto 0 30px;
  }
  .ListDays__list li{
    margin: 0 5px 0 0;
  }
}
