.MainContent{
  position: relative;
  width: 90%;
  height: auto;
  max-width: 500px;
  margin: 0 auto;
}
.MainContent__title{
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--dark-green);
  padding-left: 20px;
}
.MainContent__description-weather{
  text-align: left;
  font-size: 1.5rem;
  color: var(--dark-green);
  padding-left: 20px;
  margin-bottom: 10px;
}
.MainContent__content{
  width: 100%;
  height: 230px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--white);
  border-radius: 30px;
  padding: 10px;
}

.MainContent__image{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.MainContent__image .MainContent__image-img{
  width: 20%;
  min-width: 60px;
  filter: drop-shadow(-5px 5px 10px #999);
}
.MainContent__image .MainContent__image-temp{
  text-align: center;
}
.MainContent__image-temp p{
  font-size: 1.2rem;
}
.MainContent__image-temp h2{
  font-size: 3rem;
  font-weight: bold;
  color: var(--dark-green);
}

.MainContent__description{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.MainContent__description-content span{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  color: var(--dark-green);  
}
.MainContent__description-content h3{
  text-align: center;
  font-size: 1.3rem;
  color: var(--dark-green);  
}
.MainContent__description-content p{
  text-align: center;
  font-size: 1rem;
}

/* dark mode */
.DarkMode .MainContent__content{
  color: var(--gray);
}
.DarkMode .MainContent__title,
.DarkMode .MainContent__image-temp h2,
.DarkMode .MainContent__image-temp h2,
.DarkMode .MainContent__description-content span,
.DarkMode .MainContent__description-content h3{
  color: white;
}

 /* dark mode */
 .DarkMode .MainContent__content{
  background: linear-gradient(rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.7)), url('../images/dark-medium.jpg');
  background-repeat: no-repeat;
  box-shadow: 0 0 15px #3f3f3f;
}

@media(min-width:650px){
  .MainContent{
    height: 300px;
    padding: 20px 10px;
    margin: 0 auto 30px auto;
  }
  .MainContent .MainContent__image-temp h2{
    font-size: 4rem;
  }
  .MainContent .MainContent__image-temp p{
    font-size: 1.5rem;
  }
  .MainContent__description-content p{
    font-size: 1.2rem;
  }
}

@media(min-width:1000px){
  .MainContent{
    max-width: 600px;
  }
}