.PageSearch{
  background-color: var(--light-green);
}
.PageSearch__title{
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--dark-green);
  padding-left: 20px;
}
.PageSearch__head{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.PageSearch__head .PageSearch__head-icon{
  font-size: 3rem;
  color: var(--dark-green);
  cursor: pointer;
}

