.Search{
  position: relative;
  width: 100%;
  max-width: 550px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.Search__input{
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: 'Poppins', 'sans-serif';
  background-color: var(--white);
  border: 1px solid var(--light-green);
  padding: 0 110px 0 15px;
  outline: none;
}
.Search__button{
  position: absolute;
  right: 5%;
  width: 100px;
  height: 40px;
  grid-area: search;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Poppins', 'sans-serif';
  color: var(--light-green);
  background-color: var(--dark-green);
  border-radius: 20px;
  z-index: 1;
  cursor: pointer;
}

/* dark mode */
.DarkMode .Search__input{
  background: var(--dark-gray);
  color: var(--light-green);
}
.DarkMode .Search__button{
  background-color: var(--light-green);
  color: var(--black);
}

@media(min-width:650px){
  .Search{
    margin: 0px;
  }
  .Search__input, .Search__button{
    box-shadow: 0 0 0 0;
    border: 1px solid var(--white);
  }
}
