:root{
  --white: #E9F6F8;
  --light-green: #DBF0F4;
  --dark-green: #023047;
  --text: #7494A0;

  --black: #000;
  --gray: #999;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Poppins', 'sans-serif';
  color: var(--text);
}
body{
  width: 100%;
  height: 100vh;
}
body.DarkMode{
  background-color: #000;
}