:root{
  --white: #E9F6F8;
  --light-green: #DBF0F4;
  --dark-green: #023047;

  /* DarkMode */

  --black: #0c0d0d;
  --dark-gray: #101011;
  --gray: #999;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Poppins', 'sans-serif';
  color: var(--dark-green);
}
body{
  width: 100%;
  background-color: var(--light-green);
}
body::-webkit-scrollbar{
  width: 10px;
  background-color: var(--light-green);
}
body::-webkit-scrollbar-thumb{
  border-radius: 2px;
  background-color: var(--dark-green);
}

/* darkmode */
body.DarkMode::-webkit-scrollbar{
  width: 10px;
  background-color: var(--black);
  border-radius: 10px;
}
body.DarkMode::-webkit-scrollbar-thumb{
  background-color: var(--light-green);
  border-radius: 10px;
}
body.DarkMode{
  background-color: #0e0d0d;
  color: var(--light-green);
}